.crud {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table td {
  width: 226px;
  height: 30px;
  background-color: lightblue;
  text-align: center;
  color: white;
}

table td button {
  font-size: 15px;
  cursor: pointer;
}

.addForm {
  margin-bottom: 30px;
}

.addForm input {
  width: 220px;
  height: 30px;
  margin-right: 10px;
}

.addForm button {
  width: 140px;
  color: white;
  background-color: lightgreen;
  border: none;
  cursor: pointer;
}

.search {
  width: 685px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid;
}
